nav {
  background-color: black;
  margin-bottom: 30px;
}

body {
    background-image: url("http://4.bp.blogspot.com/-Ti8asaTwm_Y/T3NdgO88afI/AAAAAAAABIs/9lRuwxAZM5A/s1600/220312.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  color: white;
}

legend {
  color: white;
}

input {
  color: white;
}

.title {
  color: white;
}
