nav {
  background-color: black;
  margin-bottom: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 60px;
  padding-right: 60px;
}

body {
    background-image: url("http://4.bp.blogspot.com/-Ti8asaTwm_Y/T3NdgO88afI/AAAAAAAABIs/9lRuwxAZM5A/s1600/220312.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  color: white;
}

legend {
  color: white;
}

input {
  color: white;
}

.title {
  color: white;
}

.card-title {
  text-align: center;
  font-family: 'Righteous', cursive;
}

.card-text {
  text-align: center;
  font-family: 'Righteous', cursive;
}

.list-group-item {
  text-align: center;
  font-family: 'Righteous', cursive;
}
.card-block {
  text-align: center;
  font-family: 'Righteous', cursive;
}

#form {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.row {
  padding-left: 100px;
  padding-right: 100px;
}


h2 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.shop-title {
  font-size: 25px;
}
.price {
  font-size: 20px;
}
