<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Espress Yo Self</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container" id="wrap">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="login" method="POST" accept-charset="utf-8" class="form" role="form">   <legend>Login</legend>
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <input type="text" name="user[email]" value="" class="form-control input-lg" placeholder="Your Email"/>
            </div>
            <div class="col-xs-6 col-md-6">
              <input type="password" name="user[password]" value="" class="form-control input-lg" placeholder="Password"  />
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
            Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
